.productHero {
    background-image: radial-gradient(70% 35% at 50% 0, #fff 60%, transparent), radial-gradient(45% 45% at 50% 20%, #fff 25%, transparent), linear-gradient(112.1deg, #fde4ee 7.68%, #d9f0ff 81.07%);
}

.py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.container-product {
    padding-left: 50px;
    padding-right: 50px;
}

.container-services {
    max-width: 1330px;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}