.templates-row {
    display: flex;
    gap: 30px;
}

.temp-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 350px;
    padding-bottom: 10px;
}

.temp-title {
    font-weight: 600;
    font-size: larger;
    line-height: 24px;
    margin: 10px 10px;
}

.temp-desc {
    font-weight: 400;
    font-size: medium;
    line-height: 24px;
    margin: 10px;
}

.temp-navigate {
    text-align: end;
    margin: 10px;
}

.temp-navigate a {
    border: 1px solid grey;
    padding: 5px 8px;
    border-radius: 5px;


}